<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Effect/css/dangki.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Đăng kí</title>
</head>

<body>
    <div class="contain">
        <div class="login">
            <div class="left">
                <img src="../Images/logo.png">
            </div>
            <div class="form">
                <div>
                    <i class='bx bx-user-circle'></i>
                    <input type="text" placeholder="Họ và tên">
                </div>
                <div>
                    <i class='bx bx-user-pin'></i>
                    <input type="text" placeholder="Tên tài khoản">
                </div>
                <div>
                    <i class='bx bx-lock-alt'></i>
                    <input type="text" placeholder="Mật khẩu">
                </div>
                <div>
                    <i class='bx bx-calendar'></i>
                    <input type="date">
                </div>
                <div>
                    <i class='bx bx-phone'></i>
                    <input type="text" placeholder="Số điện thoại">
                </div>
                <div>
                    <i class='bx bx-home-heart'></i>
                    <input type="text" placeholder="Địa chỉ">
                </div>
                <div>
                    <i class='bx bx-mail-send'></i>
                    <input type="text" placeholder="Email">
                </div>
                <div class="login_area">
                    <input type="submit" id="submit" value="Đăng nhập">
                    <input type="submit" id="register" value="Đăng kí">
                </div>
            </div>
        </div>
    </div>
</body>

</html>