<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Effect/css/dangnhap.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Đăng nhập</title>
</head>

<body>
    <div class="contain">
        <div class="login">
            <div class="left"></div>
            <div class="form">
                <img src="../Images/logo.png">
                <div>
                    <i class='bx bx-user-circle'></i>
                    <input type="text" placeholder="Tài khoản của bạn">
                </div>
                <div>
                    <i class='bx bx-lock-alt'></i>
                    <input type="text" placeholder="Mật khẩu của bạn">
                </div>
                <div class="login_area">
                    <input type="submit" id="submit" value="Đăng nhập">
                    <input type="submit" id="register" value="Đăng kí">
                </div>
            </div>
        </div>
    </div>
</body>

</html>