<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Effect/css/ds_baihoc.css">
    <script src="../Effect/js/ds_baihoc.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Html</title>
</head>

<body>
    <div class="tittle">
        <h1>Khóa học Html cơ bản</h1>
        <p>Trong khóa này chúng ta sẽ cùng nhau xây dựng giao diện html đơn giản!</p>
    </div>
    <div class="left_content">
        <h2>Bạn sẽ học được gì</h2>
        <div class="whatLearning">
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
            <div class="learning">
                <i class='bx bx-check-circle'></i>
                <p>Biết cách xây dựng giao diện web với HTML</p>
            </div>
        </div>
        <div class="ds_hoc">
            <h2>Nội dung khóa học</h2>
            <div class="total">
                <p>13 phần</p>
                <p>113 bài học</p>
            </div>
            <div class="ds">
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Làm được gì sau khóa học?</p>
                    <p id="number">1</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">HTML, CSS là gì?</p>
                    <p id="number">2 </p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Làm quen với Dev tools?</p>
                    <p id="number">3</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Cài đặt môi trường?</p>
                    <p id="number">4</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Cấu trúc file HTML?</p>
                    <p id="number">5</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Comments trong HTML?</p>
                    <p id="number">6</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Thẻ HTML thông dụng?</p>
                    <p id="number">7</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Attribute trong HTML?</p>
                    <p id="number">8</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">Attribute trong HTML?</p>
                    <p id="number">9</p>
                </div>
                <div class="baihoc">
                    <i class='bx bx-play-circle'></i>
                    <p id="name">ID và Class?</p>
                    <p id="number">10</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right_content" id="gioithieu">
        <div class="gioithieu">
            <img src="../Images/logo.png">
        </div>
    </div>
    <div style="clear: both;"></div>
</body>

</html>